.zoom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &__plus,
    &__minus {
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
    }
    }
  
    &__plus {
      margin-left: 10px;
    }
  
    &__minus {
      margin-right: 10px;
    }
  }