.container {
    display: flex;
    position: relative;

    &__canvas {
        flex: 1;
        display: flex;
      }

    &__zoom {
        height: 60px;
        width: 200px;
        border-radius: 20px;
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: #D9D9D9;
    }


    
    &__historyNav {
        height: 60px;
        width: 170px;
        border-radius: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #A0A4C8;
    }

    &__sidebar {
        height: 90vh;
        width: 90px;
        border-radius: 20px;
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: #A0A4C8;
    }  
}