.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    &__elements {
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:hover {
            opacity: .6;
        }
    }
    &__list {
        list-style-type: none;  
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        li {
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
        }
    }
    &__fileUploader {
        cursor: pointer;
        &:hover{
            opacity: .8;
        } 
    }
    &__inputUpload {
        opacity: 0;
        height: 0;
        width: 0;
      }
      button {
        display: inline-block;
        padding: 0.5rem 0.1rem;
        width: 100%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: bold;
        color: #fff;
      }
} 
  .clear {
    background-color: #007bff;
  }
  
  .save {
    background-color: #28a745;
  }